*{
    margin:  0px;
    padding: 0px;
}

.container{
    margin: 0 auto;
    width: 500px;

    /*
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    */
}
